@use './_variables.module.scss';

.contact {
  background: linear-gradient(to bottom, #172b26, #1e1f16);
  display: flex;
  flex-direction: column;
  align-items: center;

  @mixin step1($width, $color) {
    box-shadow: $width 0 $color, -$width 0 $color, 0 (-$width) $color, 0 $width $color;
  }

  @mixin inputGrid {
    display: grid;
    grid-template-columns: 25% 75%;
    margin-bottom: 30px;
    font-size: 40px;
  }

  .contactTitle {
    span {
      font-size: 40px;
      color: white;
    }
  }

  .contactForm {
    margin-top: 5px;
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 30px;

    @include step1(6px, black);

    .inputContainer {
      @include inputGrid();
      height: 75px;

      a {
        align-self: center;
        color: white;
      }

      input {
        font-size: 40px;
        background-color: transparent;
        color: white;
        padding-left: 5px;
      }
    }

    .messageContainer {
      @include inputGrid();
      height: 100%;

      a {
        color: white;
      }

      textarea {
        font-size: 40px;
        background-color: transparent;
        height: 100%;
        color: white;
        resize: none;
        padding: 5px;
      }
    }

    .formBottomContainer {
      display: grid;
      grid-template-columns: 25% 75%;
      height: 80px;
      font-size: 40px;
      width: 100%;

      a {
        font-size: 40px;
      }

      .mailSuccess {
        color: #00ff6a;
      }

      .mailFailed {
        color: #ff1100ed;
      }

      button {
        align-self: flex-end;
        width: 70%;
        font-size: 40px;
        background-color: transparent;
        color: white;
        border-color: white;
      }
    }
  }

  .contactLinks {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    width: 50%;
    color: white;
    align-items: center;
    height: 10%;

    .linkContainer {
      .linkItem {
        font-size: 20px;
      }
    }
  }
}
@media (max-width: variables.$tablet-view-medium) {
  .contact {
    .contactTitle {
      span {
        font-size: 25px;
      }
    }

    .contactForm {
      padding: 10px;

      .inputContainer,
      .messageContainer {
        grid-template-columns: 30% 70%;
        font-size: 25px;
        margin-bottom: 10px;

        textarea,
        input {
          font-size: 25px;
        }
      }

      .inputContainer {
        height: 50px;
      }

      .formBottomContainer {
        grid-template-columns: 30% 70%;
        height: 50px;

        a {
          font-size: 25px;
        }

        button {
          font-size: 25px;
        }
      }
    }
  }
}
