@use './_variables.module.scss';

.intro {
  background-color: variables.$color-main;
}

.about {
  background-color: #2f2824;
}

.contact {
  background-color: #172b26;
}

.navBar {
  width: 100%;
  height: variables.$nav-bar-height;
  color: white;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;
  display: flex;

  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .left {
      display: flex;
      align-items: center;

      .logo {
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        color: inherit;

        span {
          font-family: variables.$font-family-ret-ganon;
        }
      }

      .iconMaincontainer {
        display: flex;

        .itemContainer {
          margin-left: 30px;

          .navigationBarLeftIcon {
            display: flex;
            font-size: 22px;
            text-decoration: none;
            color: white;
            transition: all 1s ease;
          }
        }
      }

      @media (max-width: variables.$tablet-view-medium) {
        .itemContainer {
          display: none;
        }
      }
    }

    .right {
      .blogTitle {
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        color: inherit;

        &:hover {
          color: #00ffcf;
          cursor: pointer;
        }
      }

      .hamburgerMenu {
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        span {
          width: 100%;
          height: 3px;
          background-color: white;
          transform-origin: left;
          transition: all 2s ease;
        }
      }
    }
  }

  &.active {
    background-color: white;
    color: variables.$color-main;

    .left {
      .itemContainer {
        .icon {
          color: variables.$color-main;
        }
      }
    }

    .hamburgerMenu {
      span {
        &:first-child {
          background-color: variables.$color-main;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: variables.$color-main;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
