@use './_variables.module.scss';

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(85vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.portfolio {
  background: linear-gradient(to bottom, #2f2824, #172b26);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;

  .selfDescription {
    animation-name: fadeIn;
    animation-duration: 1s;
    margin-bottom: 30px;
    display: flex;
    font-weight: 500;

    span {
      p {
        text-align: justify;
      }
    }
  }

  .techIUse {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10%;

    animation-name: fadeIn;
    animation-duration: 2s;

    a {
      font-weight: 900;
    }

    ul {
      padding-top: 10px;
      padding-left: 0px;

      li {
        height: auto;
        display: flex;
        align-items: center;

        .tech {
          display: flex;
        }

        .stars {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

@media (max-width: variables.$tablet-view-medium) {
  .portfolio {
    font-size: 20px;

    .techIUse {
      margin-top: 0;
    }
  }
}
