@use './_variables.module.scss';

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(85vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.portfolio {
  background: linear-gradient(to bottom, #2f2824, #172b26);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;

  .selfDescription {
    animation-name: fadeIn;
    animation-duration: 1s;
    margin-bottom: 30px;
    display: flex;
    font-weight: 500;
  }

  .techIUse {
    animation-name: fadeIn;
    animation-duration: 2s;

    a {
      font-weight: 900;
    }

    ul {
      padding-top: 10px;

      li {
        height: auto;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .tech {
          display: flex;
        }

        .stars {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

@media (max-width: variables.$tablet-view-small) {
  .portfolio {
    font-size: 20px;

    .techIUse {
      ul {
        /*  padding-left: 0; */
      }
    }
  }
}

/* .inner {
  width: 98%;
  height: 98%;
  overflow-y: hidden;
} */
