.starEmpty {
  background: url('../assets/img/star-empty.png') repeat 0 0;
  height: 30px;
  width: 30px;
}

.starFilled {
  background: url('../assets/img/star-full.png') repeat 0 0;
  height: 30px;
  width: 30px;
}
